<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Listado de pacientes</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openNewPatientDialog()">
			<mat-icon aria-label="Crear un nuevo paciente">add</mat-icon>
		</button>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon aria-label="Opciones">more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<a href="./" mat-menu-item>
				<mat-icon>exit_to_app</mat-icon>
				<span>Cerrar sesión</span>
			</a>
		</mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="main-card">
	<mat-card-content>
		<form method="post">
			<mat-form-field class="full-width">
				<input matInput #searchInput type="text" placeholder="Buscar un paciente por apellido y/o nombre..." (keyup)="search(searchInput.value)">
				<mat-hint align="start">Ingrese al menos 1 caracter y espere</mat-hint>
			</mat-form-field>
		</form>
		<mat-nav-list>
		  <mat-list-item *ngFor="let patient of patients | async">
				<mat-icon matListIcon [color]="(patient.attributes.gender && patient.attributes.gender.id == 1) ? 'primary' : 'accent'">person</mat-icon>
		  	<a matLine routerLink="{{patient.id}}">{{ patient.attributes.name }} {{ patient.attributes.lastname }}</a>
		  	<p matLine class="mat-caption">Edad: {{ today | ageUp:patient.attributes.birthday }}</p>
		  </mat-list-item>
		</mat-nav-list>
	</mat-card-content>
</mat-card>