<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Listado de pacientes</span>
		<span class="spacer"></span>
		<button mat-icon-button (click)="openNewPatientDialog()">
			<mat-icon aria-label="Crear un nuevo paciente">add</mat-icon>
		</button>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon aria-label="Opciones">more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="openBottomSheet()">
				<mat-icon>show_chart</mat-icon>
				<span>Estadísticas</span>
			</button>
			<a href="./" mat-menu-item>
				<mat-icon>exit_to_app</mat-icon>
				<span>Cerrar sesión</span>
			</a>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>
<mat-card class="main-card">
	<mat-card-content>
		<form method="post">
			<mat-form-field class="full-width">
				<input matInput #searchInput type="text" placeholder="Buscar un paciente por apellido y/o nombre..." (keyup)="search(searchInput.value)">
				<mat-hint align="start">Ingrese al menos 3 caracteres y espere</mat-hint>
			</mat-form-field>
		</form>
		<mat-nav-list>
			<mat-list-item *ngFor="let patient of patients | async">
				<mat-icon matListIcon [color]="(patient.gender && patient.gender.id == 1) ? 'primary' : 'accent'">person</mat-icon>
				<a matLine routerLink="{{patient.id}}">{{ patient.name }} {{ patient.lastname }}</a>
				<p matLine class="mat-caption">Edad: {{ today | ageUp:patient.birthday }}</p>
			</mat-list-item>
		</mat-nav-list>
		<mat-nav-list *ngIf="lastPatients">
			<mat-list-item *ngFor="let patient of lastPatients | async">
				<mat-icon matListIcon [color]="(patient.gender && patient.gender.id == 1) ? 'primary' : 'accent'">person</mat-icon>
				<a matLine routerLink="{{patient.id}}">{{ patient.name }} {{ patient.lastname }}</a>
				<p matLine class="mat-caption">Edad: {{ today | ageUp:patient.birthday }}</p>
			</mat-list-item>
		</mat-nav-list>
	</mat-card-content>
</mat-card>