<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header [class.bolder]="biggerFont">
    <mat-panel-title>
      Vacunas
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item *ngFor="let application of APPLICATIONS" matTooltip="{{application.vaccine.description}}">
      <mat-icon color="primary" matListIcon>colorize</mat-icon>
      <h3 matLine><b>{{application.vaccine.name}}</b> - {{ application.dose.name }}</h3>
      <p matLine><b>Fecha de aplicación</b>: {{application.date | date:'dd/MM/yyyy'}} - <b>Edad</b>: {{
        application.date | ageUp:patient.birthday}}</p>
      <button mat-icon-button color="primary" matTooltip="Cambiar la fecha de aplicación">
        <mat-icon>calendar_today</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteApplication(application)" matTooltip="Eliminar la vacuna">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <mat-action-row>
    <button type="button" mat-raised-button (click)="newApplication()" color="accent">
      <mat-icon>add</mat-icon> Agregar una nueva vacuna
    </button>
  </mat-action-row>
</mat-expansion-panel>