<mat-expansion-panel [expanded]="true">
	<mat-expansion-panel-header [class.bolder]="biggerFont">
		<mat-panel-title>
			Visitas
		</mat-panel-title>
	</mat-expansion-panel-header>
	<mat-list>
		<mat-list-item *ngFor="let visit of patient.visits">
			<mat-icon color="primary" matListIcon>event</mat-icon>
			<h3 matLine>{{visit.date | date:'dd/MM/yyyy'}} - <b>Edad</b>: {{ visit.date | ageUp:patient.birthday}}</h3>
			<p matLine><b>Peso</b>: {{visit.weight}} kg | <b>Talla</b>: {{visit.height}} cm | <b>Perímetro encefálico</b>: {{visit.perimeter}} cm | <b>T.A.</b>: {{visit.bloodPressure}}</p>
			<p matLine><b>Diagnóstico</b>: {{visit.diagnosis}}</p>
			<p matLine><b>Tratamiento</b>: {{visit.treatment}}</p>
			<button mat-icon-button color="primary" (click)="visitInForm = visit; visitFormOpen = true" matTooltip="Editar la visita">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button color="warn" (click)="openConfirmationDialog(visit)" matTooltip="Eliminar la visita">
				<mat-icon>delete</mat-icon>
			</button>
		</mat-list-item>
	</mat-list>
	<mat-action-row>
		<button type="button" mat-raised-button (click)="newVisitInForm()" [disabled]="visitFormOpen" color="accent">
			<mat-icon>add</mat-icon> Agregar una nueva visita
		</button>
  </mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="visitFormOpen" [hideToggle]="true" [disabled]="true">
	<mat-expansion-panel-header collapsedHeight="64px">
		<mat-panel-title *ngIf="!visitFormOpen">
			Presione el botón "Agregar una nueva visita"
		</mat-panel-title>
		<mat-panel-title *ngIf="visitFormOpen && !visitInForm.id">
			Ingrese los datos de la visita y presione Guardar
		</mat-panel-title>
		<mat-panel-title *ngIf="visitFormOpen && visitInForm.id">
			Ingrese los datos, los cambios se guardarán automáticamente
		</mat-panel-title>
	</mat-expansion-panel-header>
	<div class="visit-form" *ngIf="visitInForm">
		<form method="post" [class]="screenType" [class.bolder]="biggerFont" #visitForm="ngForm" (ngSubmit)="onVisitSubmit()" enctype="multipart/form-data">
			<div>
				<mat-form-field class="visit-form-field">
					<input matInput
					name="date"
					[(ngModel)]="visitInForm.date"
					placeholder="Fecha"
					[matDatepicker]="datepicker"
					[max]="today"
					[min]="patient.birthday"
					required
					disabled
					(dateChange)="updateVisit($event)">
					<mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
					<mat-datepicker touchUi #datepicker calendarLabel="Fecha" disabled="false"></mat-datepicker>
				</mat-form-field>
				<mat-form-field class="visit-form-field">
					<input matInput
					type="number"
					name="weight"
					[(ngModel)]="visitInForm.weight"
					placeholder="Peso"
					min="0"
					step="50"
					(blur)="updateVisit($event)">
					<span matSuffix>kg</span>
				</mat-form-field>
				<mat-form-field class="visit-form-field">
					<input matInput
					type="number"
					name="height"
					[(ngModel)]="visitInForm.height"
					placeholder="Talla"
					min="0"
					step="0.1"
					(blur)="updateVisit($event)">
					<span matSuffix>cm</span>
				</mat-form-field>
				<mat-form-field class="visit-form-field">
					<input matInput
					type="number"
					name="perimeter"
					[(ngModel)]="visitInForm.perimeter"
					placeholder="Perímetro encefálico"
					min="0"
					step="0.1"
					(blur)="updateVisit($event)">
					<span matSuffix>cm</span>
				</mat-form-field>
				<mat-form-field class="visit-form-field">
					<input matInput
					type="text"
					name="bloodPressure"
					[(ngModel)]="visitInForm.bloodPressure"
					placeholder="T.A."
					maxlength="7"
					(blur)="updateVisit($event)">
					<mat-hint align="start">Ej: 119/79</mat-hint>
				</mat-form-field>
			</div>
			<mat-form-field class="comment-field">
				<textarea matInput
				name="diagnosis"
				[(ngModel)]="visitInForm.diagnosis"
				placeholder="Diagnóstico"
				required
				(blur)="updateVisit($event)"></textarea>
			</mat-form-field>
			<mat-form-field class="comment-field">
				<textarea matInput
				name="treatment"
				[(ngModel)]="visitInForm.treatment"
				placeholder="Tratamiento"
				(blur)="updateVisit($event)"></textarea>
			</mat-form-field>
			<mat-form-field class="comment-field">
				<textarea matInput
				name="studiesResults"
				[(ngModel)]="visitInForm.studiesResults"
				placeholder="Resultados de Estudios"
				(blur)="updateVisit($event)"></textarea>
			</mat-form-field>
			<mat-card class="files">
				<mat-card-content>
					<label class="files-container">
						<mat-icon>camera_alt</mat-icon>
						Presione aquí para añadir imágenes a la visita
						<input type="file"
						name="files"
						accept="image/*"
						multiple
						(change)="onFilesChanged($event)">
					</label>
					<mat-progress-bar mode="indeterminate" *ngIf="uploadingFiles"></mat-progress-bar>
					<div class="image-container" *ngFor="let image of files">
						<img *ngIf="image.url" [src]="image.url">
					</div>
					<div class="image-container" *ngFor="let image of visitInForm.files">
						<button type="button" mat-icon-button color="warn" (click)="deleteFile(image)">
							<mat-icon aria-label="Delete file">delete</mat-icon>
						</button>
						<img [src]="image.url" (click)="openFile(image)">
					</div>
				</mat-card-content>
			</mat-card>
			<div>
				<button type="submit"
				mat-raised-button
				class="visit-form-button"
				color="primary"
				[disabled]="!visitForm.form.valid"
				*ngIf="visitInForm.id === undefined">Guardar</button>
				<button type="button"
				mat-raised-button
				class="visit-form-button"
				color="warn"
				(click)="closeVisitForm()">{{visitInForm.id ? 'Cerrar el formulario' : 'Cancelar'}}</button>
			</div>
		</form>
	</div>
</mat-expansion-panel>