.login-form {
	animation-name: fadeIn;
  animation-duration: .25s;
	margin: 16px auto 0;
	width: 304px;
}
.header-image {
  background-image: url('../../assets/favicon/favicon-96x96.png');
  background-size: cover;
}
.mat-form-field {
	margin: 6px 8px;
}
.full-width {
	width: calc(100% - 16px);
}
.text-center {
	text-align: center;
}
.mat-card-image {
	width: auto;
	margin: 16px 0;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}