<form method="post" class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Ingresar al sistema de Historias Clínicas</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-form-field class="full-width">
				<input matInput type="email" placeholder="Email" [(ngModel)]="user.email" autocomplete="username email" name="email" required>
				<mat-hint align="start"><strong>Por ejemplo: minombre@servidor.com</strong></mat-hint>
			</mat-form-field>
			<mat-form-field class="full-width">
				<input matInput type="password" placeholder="Contraseña" [(ngModel)]="user.password" autocomplete="current-password" name="password" required>
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions class="text-center">
			<button type="submit" mat-button color="primary" [disabled]="!loginForm.form.valid">Entrar</button>
		</mat-card-actions>
	</mat-card>
</form>