<mat-card>
	<mat-card-header>
		<mat-card-title>
			Página no encontrada
		</mat-card-title>
		<mat-card-subtitle>
			¡La dirección que estás buscando no existe!
		</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="assets/notfound.jpeg">
	<mat-card-content>
		Presiona el botón "Ingresar" para ir a la página de ingreso del sistema.
	</mat-card-content>
	<mat-card-actions>
		<a routerLink="/" mat-button color="primary">Ingresar</a>
	</mat-card-actions>
	<mat-card-footer>
		Sistema de Historias Clínicas
	</mat-card-footer>
</mat-card>