.valign-bottom {
  color: #ff4081;
  vertical-align: bottom;
}
.day-card {
  display: inline-block;
  margin: 6px 8px;
  vertical-align: top;
  width: calc(14.25% - 48px);
}
.copy-hours,
.remove-day {
  position: absolute;
  right: 0;
  top: 10px;
}
.hour-box {
  padding: 12px 0 0;
  position: relative;
}
.hour-box .remove-hour {
  position: absolute;
  right: -20px;
  top: 50px;
}
.centered {
  text-align: center;
}
/deep/ .mat-card-header-text {
  margin: 0 !important;
}