.header-row {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.spacer {
  flex: 1 1 auto;
}
.main-card {
  margin: 16px;
}
.mat-form-field {
  margin: 6px 8px;
}
.wide .form-field {
  width: calc(25% - 16px);
}
.tablet .form-field {
  width: calc(50% - 16px);
}
.handset .form-field {
  width: calc(100% - 16px);
}
.mat-spinner {
  margin: 32px auto 0;
}
.valign-bottom {
  color: #ff4081;
  vertical-align: bottom;
}
.bolder .mat-form-field {
  font-weight: bold;
  font-size: 18px;
}
.day-card {
  display: inline-block;
  margin: 6px 8px;
  vertical-align: top;
  width: calc(14.25% - 48px);
}
.copy-hours,
.remove-day {
  position: absolute;
  right: 0;
  top: 10px;
}
.hour-box {
  padding: 12px 0 0;
  position: relative;
}
.hour-box .remove-hour {
  position: absolute;
  right: -20px;
  top: 50px;
}
/deep/ .mat-card-header-text {
  margin: 0 !important;
}