<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-icon-button routerLink="../" matTooltip="Volver a la vista de Agendas">
      <mat-icon aria-label="Listado de pacientes">arrow_back</mat-icon>
    </a>
    <span *ngIf="!schedule">Agenda</span>
    <span *ngIf="schedule" class="header-row">
      Agenda - {{schedule.name}}
    </span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Opciones de la agenda">
      <mat-icon aria-label="Opciones de la agenda">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="main-card">
  <mat-spinner *ngIf="!schedule"></mat-spinner>
  <form method="post" [class]="formClass" [class.bolder]="biggerFont" #scheduleDataForm="ngForm">
    <mat-form-field class="form-field">
      <input matInput
      type="text"
      name="name"
      [(ngModel)]="schedule.name"
      placeholder="Nombre"
      maxlength="256"
      required
      (blur)="updateSchedule($event)">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-select placeholder="Profesionales" [(ngModel)]="schedule.professionals" name="professionals" multiple required>
        <mat-option *ngFor="let professional of professionals" [value]="professional">
          {{professional.lastname}} {{professional.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput
      name="start"
      [(ngModel)]="schedule.validityStart"
      placeholder="Inicio de vigencia"
      [matDatepicker]="startPicker"
      disabled
      required
      (dateChange)="updateSchedule($event)">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #startPicker calendarLabel="Inicio de vigencia" disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput
      name="end"
      [(ngModel)]="schedule.validityEnd"
      placeholder="Fin de vigencia"
      [matDatepicker]="endPicker"
      disabled
      (dateChange)="updateSchedule($event)">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #endPicker calendarLabel="Fin de vigencia" disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput
      type="number"
      name="appointmentInterval"
      [(ngModel)]="schedule.appointmentInterval"
      placeholder="Intervalo entre turnos"
      maxlength="2"
      min="1"
      max="60"
      required
      (blur)="updateSchedule($event)">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput
      type="color"
      name="color"
      [(ngModel)]="schedule.color"
      placeholder="Color"
      (blur)="updateSchedule($event)">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-select #periodicity placeholder="Periodicidad" [(ngModel)]="schedule.periodicity" name="periodicity" required>
        <mat-option value="1">Semanalmente</mat-option>
        <mat-option value="2">Días específicos</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field" *ngIf="schedule.periodicity === '2'">
        <input matInput
        name="dayPicker"
        placeholder="Seleccione un día para agregarlo"
        [matDatepicker]="dayPicker"
        disabled
        (dateChange)="selectDay($event)">
        <mat-datepicker-toggle matSuffix [for]="dayPicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dayPicker calendarLabel="Seleccione un día para agregarlo" disabled="false"></mat-datepicker>
      </mat-form-field>

    <div *ngIf="schedule.periodicity === '1'">
      <mat-card class="day-card" *ngFor="let day of WEEKDAYS; let i = index;">
        <mat-card-header>
          <mat-card-title>
            <mat-checkbox [(ngModel)]="schedule.weekDays[i].active" name="day.id">{{day.name}}</mat-checkbox>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="hour-box" *ngFor="let hour of schedule.weekDays[i].hours">
            <button mat-icon-button class="remove-hour" color="warn" (click)="removeHour(schedule.weekDays[i], hour)" matTooltip="Quitar este horario">
              <mat-icon aria-label="Quitar este horario">remove_circle</mat-icon>
            </button>
            <div>
              <span class="mat-caption">Desde</span>
              <app-hour-picker [hourAndMinutes]="hour.start" (hourAndMinutesSetted)="hour.start = $event"></app-hour-picker>
            </div>
            <div>
              <span class="mat-caption">Hasta</span>
              <app-hour-picker [hourAndMinutes]="hour.end" (hourAndMinutesSetted)="hour.end = $event"></app-hour-picker>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="centered">
          <button mat-button color="primary" (click)="addHour(schedule.weekDays[i])" matTooltip="Agregar un horario">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-button color="accent" (click)="applyHoursToAllDays(schedule.weekDays, schedule.weekDays[i].hours)" matTooltip="Copiar los horarios de este día a todos los días">
            <mat-icon>sync</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div *ngIf="schedule.periodicity === '2'">
      <mat-card class="day-card" *ngFor="let day of schedule.selectedDays; let i = index;">
        <mat-card-header>
          <mat-card-title>
            <span class="mat-body-strong">{{day.name | titlecase}}</span>
          </mat-card-title>
          <button mat-icon-button class="remove-day" color="warn" (click)="removeDay(day)" matTooltip="Quitar este día">
            <mat-icon aria-label="Quitar este día">clear</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <div class="hour-box" *ngFor="let hour of day.hours">
            <button mat-icon-button class="remove-hour" color="warn" (click)="removeHour(day, hour)" matTooltip="Quitar este horario">
              <mat-icon aria-label="Quitar este horario">remove_circle</mat-icon>
            </button>
            <div>
              <span class="mat-caption">Desde</span>
              <app-hour-picker [hourAndMinutes]="hour.start" (hourAndMinutesSetted)="hour.start = $event"></app-hour-picker>
            </div>
            <div>
              <span class="mat-caption">Hasta</span>
              <app-hour-picker [hourAndMinutes]="hour.end" (hourAndMinutesSetted)="hour.end = $event"></app-hour-picker>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="centered">
          <button mat-button color="primary" (click)="addHour(day)" matTooltip="Agregar un horario">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-button color="accent" (click)="applyHoursToAllDays(schedule.selectedDays, day.hours)" matTooltip="Copiar los horarios de este día a todos los días">
            <mat-icon>sync</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

  </form>
</mat-card>