<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Agendas</span>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Ver listado">
      <mat-icon aria-label="Ver el listado de agendas">list</mat-icon>
    </button>
    <button mat-icon-button routerLink="1" matTooltip="Nueva agenda">
      <mat-icon aria-label="Crear una nueva agenda">add</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Menú">
      <mat-icon aria-label="Opciones">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/patients" mat-menu-item>
        <mat-icon>folder_shared</mat-icon>
        <span>Pacientes</span>
      </a>
      <a routerLink="/users" mat-menu-item *ngIf="userRole === 'administrator'">
        <mat-icon>people</mat-icon>
        <span>Usuarios</span>
      </a>
      <a routerLink="/" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="main-card">
  <mat-card-content>
    <form method="post" [ngClass]="screenType">
      <mat-form-field class="form-field">
        <mat-select
        [(ngModel)]="selectedSchedules"
        (selectionChange)="changeView(false, false)"
        multiple
        name="selectedSchedules"
        placeholder="Seleccionar agenda/s">
          <mat-option *ngFor="let schedule of schedules" [value]="schedule">
            {{schedule.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput
        #patientSearchBox
        type="text"
        name="selectedPatient"
        [(ngModel)]="selectedPatient"
        placeholder="Buscar un paciente"
        [matAutocomplete]="patientSelector"
        (ngModelChange)="searchPatients($event)">
        <mat-autocomplete #patientSelector="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let patient of patients | async" [value]="patient">
            {{patient.lastname}} {{patient.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon class="matSuffixButton" matSuffix (click)="clearPatient()" *ngIf="patientSearchBox.value.length">clear</mat-icon>
        <mat-hint align="start">Ingrese al menos 3 caracteres y seleccione un paciente del listado</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput #searchProffesional type="text" placeholder="Buscar un profesional">
        <mat-icon class="matSuffixButton" matSuffix (click)="ngOnInit()" *ngIf="searchProffesional.value.length">clear</mat-icon>
        <mat-hint align="start">Ingrese al menos 3 caracteres y seleccione un profesional del listado</mat-hint>
      </mat-form-field>
      <div class="view-type-group">
        <mat-button-toggle-group appearance="legacy" [(ngModel)]="view" name="view" (change)="changeView(false, false)">
          <mat-button-toggle value="daily" matTooltip="Vista diaria">
            <mat-icon>view_day</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="weekly" matTooltip="Vista semanal">
            <mat-icon>view_week</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="monthly" matTooltip="Vista mensual">
            <mat-icon>view_agenda</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <mat-form-field class="form-field">
        <input matInput
        placeholder="Seleccionar un día/mes"
        [(ngModel)]="day"
        [matDatepicker]="dayPicker"
        (dateChange)="changeView(false, false)"
        disabled
        name="day">
        <mat-datepicker-toggle matSuffix [for]="dayPicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dayPicker
        [startView]="startView"
        (monthSelected)="changeView($event, dayPicker)"
        calendarLabel="Seleccionar un día"
        disabled="false"></mat-datepicker>
      </mat-form-field>
      <span class="month-selector" *ngIf="view === 'monthly'">Mes seleccionado: {{monthName | titlecase}}</span>
    </form>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <mat-nav-list dense *ngFor="let day of days" [ngClass]="[view, screenType]">
      <h3 mat-subheader>{{ day.name | titlecase }}</h3>
      <div *ngIf="withoutFilters">
        <mat-list-item *ngFor="let appointment of day.relationships.appointments" [style.background]="appointment.color" (click)="openBottomSheet(appointment)" [class.occupied]="appointment.patient">
          <p>{{appointment.hour}} | 
            <span *ngIf="appointment.patient">{{appointment.patient.data.attributes.lastname}} {{appointment.patient.data.attributes.name}}</span>
          </p>
        </mat-list-item>
      </div>
      <div *ngIf="!withoutFilters">
        <mat-list-item *ngFor="let appointment of day.filteredAppointments" [style.background]="appointment.schedule?.color" (click)="openBottomSheet(appointment)" [class.occupied]="appointment.patient">
          <p>{{appointment.hour}} | 
            <span *ngIf="appointment.patient">{{appointment.patient.data.attributes.lastname}} {{appointment.patient.data.attributes.name}}</span>
          </p>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-card-content>
</mat-card>