.spacer {
  flex: 1 1 auto;
}
.main-card {
	animation-name: fadeIn;
  animation-duration: .25s;
  margin: 16px;
}
.mat-card-content form {
  margin-bottom: 24px;
}
.mat-form-field {
  margin: 6px 8px;
}
.wide .form-field {
  width: calc(25% - 16px);
}
.tablet .form-field {
  width: calc(50% - 16px);
}
.handset .form-field {
  width: calc(100% - 16px);
}
.matSuffixButton {
  cursor: pointer;
}
.mat-grid-list {
	height: 70vh;
}
.mat-list[dense] {
  display: inline-block;
}
.mat-list.daily {
  width: 100%;
}
.mat-list.weekly,
.mat-list.monthly {
  width: 14%;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}