<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Agendas</span>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="1">
      <mat-icon aria-label="Crear una nueva agenda">add</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon aria-label="Opciones">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/patients" mat-menu-item>
        <mat-icon>folder_shared</mat-icon>
        <span>Pacientes</span>
      </a>
      <a routerLink="/users" mat-menu-item *ngIf="userRole === 'administrator'">
        <mat-icon>people</mat-icon>
        <span>Usuarios</span>
      </a>
      <a routerLink="/" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="main-card">
  <mat-card-content>
    <div class="mat-toolbar-row">
      <span class="spacer"></span>
      <mat-button-toggle-group appearance="legacy" [(ngModel)]="viewType" name="viewType" (change)="changeTypeOfView($event)">
        <mat-button-toggle value="daily">
          <mat-icon>view_day</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="weekly">
          <mat-icon>view_week</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="monthly">
          <mat-icon>view_agenda</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <form method="post" [class]="screenType">
      <mat-form-field class="form-field">
        <mat-select placeholder="Agenda" [(ngModel)]="selectedSchedules" name="selectedSchedules" multiple>
          <mat-option *ngFor="let schedule of validSchedules" [value]="schedule">
            {{schedule.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput #searchPatient type="text" placeholder="Paciente">
        <mat-icon class="matSuffixButton" matSuffix (click)="ngOnInit()" *ngIf="searchPatient.value.length">clear</mat-icon>
        <mat-hint align="start">Ingrese al menos 3 caracteres y espere</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput #searchProffesional type="text" placeholder="Profesional">
        <mat-icon class="matSuffixButton" matSuffix (click)="ngOnInit()" *ngIf="searchProffesional.value.length">clear</mat-icon>
        <mat-hint align="start">Ingrese al menos 3 caracteres y espere</mat-hint>
      </mat-form-field>
      <mat-slide-toggle>Ver agendas no vigentes</mat-slide-toggle>
    </form>
    <mat-nav-list dense *ngFor="let list of lists" [ngClass]="viewType">
      <h3 mat-subheader>{{ list.name | titlecase }}</h3>
      <mat-list-item *ngFor="let appointment of getAppointments(list.date)" [style.background]="appointment.schedule.color" (click)="openBottomSheet(appointment)">
        <p matLine>{{appointment.hour}} | {{appointment.patient}}</p>
        <button mat-icon-button [matMenuTriggerFor]="itemMenu">
          <mat-icon aria-label="Opciones">more_vert</mat-icon>
        </button>
        <mat-menu #itemMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>update</mat-icon>
            <span>Reprogramar</span>
          </button>
          <button mat-menu-item>
            <mat-icon>print</mat-icon>
            <span>Imprimir</span>
          </button>
          <button mat-menu-item>
            <mat-icon>send</mat-icon>
            <span>Notificar</span>
          </button>
          <button mat-menu-item>
            <mat-icon color="warn">cancel</mat-icon>
            <span>Cancelar</span>
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>