<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Agendas</span>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="1">
      <mat-icon aria-label="Crear una nueva agenda">add</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon aria-label="Opciones">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/patients" mat-menu-item>
        <mat-icon>folder_shared</mat-icon>
        <span>Pacientes</span>
      </a>
      <a routerLink="/users" mat-menu-item *ngIf="userRole === 'administrator'">
        <mat-icon>people</mat-icon>
        <span>Usuarios</span>
      </a>
      <a routerLink="/" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="main-card">
  <mat-card-content>
    <form method="post" [ngClass]="screenType">
      <mat-form-field class="form-field">
        <mat-select placeholder="Seleccionar agenda/s" [(ngModel)]="selectedSchedules" name="selectedSchedules" multiple>
          <mat-option *ngFor="let schedule of validSchedules" [value]="schedule">
            {{schedule.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput #searchPatient type="text" placeholder="Buscar un paciente">
        <mat-icon class="matSuffixButton" matSuffix (click)="ngOnInit()" *ngIf="searchPatient.value.length">clear</mat-icon>
        <mat-hint align="start">Ingrese al menos 3 caracteres y seleccione un paciente del listado</mat-hint>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput #searchProffesional type="text" placeholder="Buscar un profesional">
        <mat-icon class="matSuffixButton" matSuffix (click)="ngOnInit()" *ngIf="searchProffesional.value.length">clear</mat-icon>
        <mat-hint align="start">Ingrese al menos 3 caracteres y seleccione un paciente del listado</mat-hint>
      </mat-form-field>
      <div class="view-type-group">
        <mat-button-toggle-group appearance="legacy" [(ngModel)]="viewType" name="viewType" (change)="changeTypeOfView($event)">
          <mat-button-toggle value="daily" matTooltip="Vista diaria">
            <mat-icon>view_day</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="weekly" matTooltip="Vista semanal">
            <mat-icon>view_week</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="monthly" matTooltip="Vista mensual">
            <mat-icon>view_agenda</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <mat-form-field class="form-field" *ngIf="viewType === 'daily'">
        <input matInput
        name="selectedDay"
        [(ngModel)]="selectedDay"
        placeholder="Seleccionar un día"
        [matDatepicker]="todayPicker"
        disabled
        (dateChange)="changeTypeOfView({value: viewType})">
        <mat-datepicker-toggle matSuffix [for]="todayPicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #todayPicker
        calendarLabel="Seleccionar un día"
        disabled="false"></mat-datepicker>
      </mat-form-field>
      <span class="month-selector" *ngIf="viewType === 'monthly'">Mes seleccionado: {{selectedMonthName | titlecase}}</span>
      <mat-form-field class="month-field" *ngIf="viewType === 'monthly'">
        <input matInput
        placeholder="Seleccionar un mes"
        [matDatepicker]="monthPicker"
        disabled>
        <mat-datepicker-toggle matSuffix [for]="monthPicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #monthPicker
        calendarLabel="Seleccionar un mes"
        startView="year"
        (monthSelected)="chosenMonthHandler($event, monthPicker)"
        disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <mat-nav-list dense *ngFor="let list of lists" [ngClass]="[viewType, screenType]">
      <h3 mat-subheader>{{ list.name | titlecase }}</h3>
      <mat-list-item *ngFor="let appointment of list.appointments" [style.background]="appointment.schedule.color" (click)="openBottomSheet(appointment)" [class.occupied]="appointment.patient">
        <p>{{appointment.hour}} | {{appointment.patient}}</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>