.mat-chip-list {
  margin: 6px 8px;
}
.date-field {
	width: calc(75% - 16px);
}
.hour-field {
	width: calc(25% - 18px);
}
.mat-chip {
	font-size: 12px;
}
.mat-standard-chip {
  border-radius: 12px;
  min-height: 24px;
}