<mat-toolbar>
	<span>Turno</span>
	<span class="spacer"></span>
	<button mat-icon-button>
		<mat-icon>update</mat-icon>
	</button>
	<button mat-icon-button>
		<mat-icon>print</mat-icon>
	</button>
	<button mat-icon-button>
		<mat-icon>send</mat-icon>
	</button>
	<button mat-icon-button>
		<mat-icon color="warn">cancel</mat-icon>
	</button>
</mat-toolbar>
<form method="post">
	<mat-chip-list *ngIf="data.appointment.patient">
		<mat-chip *ngIf="data.appointment.reprogrammed" color="accent" selected matTooltip="El turno ha sido reprogramado">Reprogramado</mat-chip>
		<mat-chip *ngIf="!data.appointment.confirmed" color="warn" selected matTooltip="El turno no está confirmado">No confirmado</mat-chip>
		<mat-chip *ngIf="!data.appointment.printed" color="warn" selected matTooltip="No fue impreso el ticket del turno">No impreso</mat-chip>
		<mat-chip *ngIf="!data.appointment.reminderSent" color="warn" selected matTooltip="No fue enviado el recoratorio del turno">Recordatorio no enviado</mat-chip>
	</mat-chip-list>
	<mat-form-field class="form-field">
		<mat-select placeholder="Agenda" [(ngModel)]="data.appointment.schedule" name="schedule" [disabled]="true">
			<mat-option *ngFor="let schedule of schedules" [value]="schedule">
				{{schedule.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field class="date-field">
		<input matInput [matDatepicker]="pickerDate" placeholder="Fecha" [(ngModel)]="data.appointment.date" name="date" readonly>
		<mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
		<mat-datepicker touchUi #pickerDate calendarLabel="Fecha" disabled></mat-datepicker>
	</mat-form-field>
	<mat-form-field class="hour-field">
		<input matInput type="text" placeholder="Hora" [(ngModel)]="data.appointment.hour" name="hour" maxlength="5" readonly>
	</mat-form-field>
	<mat-form-field class="form-field">
		<input matInput type="text" placeholder="Paciente" [(ngModel)]="data.appointment.patient" name="patient" readonly>
	</mat-form-field>
	<mat-form-field class="form-field">
		<mat-select placeholder="Profesional" [(ngModel)]="data.appointment.professional" name="professional">
			<mat-option *ngFor="let professional of data.appointment.schedule.professionals" [value]="professional">
				{{professional.lastname}} {{professional.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field class="form-field">
		<mat-select placeholder="Vía de recordatorio" [(ngModel)]="data.appointment.reminderWay" name="reminderWay">
			<mat-option [value]="1">Teléfono</mat-option>
			<mat-option [value]="2">Email</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field class="form-field">
		<input matInput type="text" placeholder="Email / Teléfono" [(ngModel)]="data.appointment.reminderData" name="reminderData">
	</mat-form-field>
	<mat-form-field class="form-field">
		<textarea matInput
		name="indications"
		[(ngModel)]="data.appointment.indications"
		placeholder="Indicaciones"></textarea>
	</mat-form-field>
</form>