<mat-toolbar color="primary">
	<mat-toolbar-row>
		<a mat-icon-button routerLink="../">
			<mat-icon aria-label="Listado de pacientes">arrow_back</mat-icon>
		</a>
		<span *ngIf="!patient">Historia Clínica</span>
		<span *ngIf="patient" class="header-row">Historia Clínica - {{patient.name}} {{patient.lastname}}</span>
		<span class="spacer"></span>
		<button mat-icon-button (click)="toggleAccordion()" *ngIf="!folded">
			<mat-icon aria-label="Cerrar todos los paneles">unfold_less</mat-icon>
		</button>
		<button mat-icon-button (click)="toggleAccordion()" *ngIf="folded">
			<mat-icon aria-label="Abrir todos los paneles">unfold_more</mat-icon>
		</button>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon aria-label="Opciones del paciente">more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="openConfirmationPatientDialog()">
				<mat-icon>delete</mat-icon>
				<span>Eliminar</span>
			</button>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>

<div class="main-card">
	<mat-spinner *ngIf="!patient"></mat-spinner>
	<mat-accordion [multi]="true" *ngIf="patient">
		<mat-expansion-panel [expanded]="newPatient">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Información personal
				</mat-panel-title>
				<mat-panel-description>
					{{ today | ageUp:patient.birthday }}
				</mat-panel-description>
			</mat-expansion-panel-header>
			<form method="post" [class]="formClass" #patientDataForm="ngForm">
				<mat-form-field class="form-field">
					<input matInput
					type="text"
					name="lastname"
					[(ngModel)]="patient.lastname"
					placeholder="Apellido/s"
					maxlength="256"
					required
					(blur)="updatePatient($event)">
				</mat-form-field>
				<mat-form-field class="form-field">
					<input matInput
					type="text"
					name="name"
					[(ngModel)]="patient.name"
					placeholder="Nombre/s"
					maxlength="256"
					required
					(blur)="updatePatient($event)">
				</mat-form-field>
				<mat-form-field class="form-field">
					<input matInput
					name="birthday"
					[(ngModel)]="patient.birthday"
					placeholder="Fecha de nacimiento"
					[matDatepicker]="picker"
					[max]="today"
					(dateChange)="updatePatient($event)">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker touchUi #picker calendarLabel="Fecha de nacimiento"></mat-datepicker>
				</mat-form-field>
				<mat-form-field class="form-field">
					<mat-select
					name="gender"
					[(ngModel)]="patient.gender"
					placeholder="Sexo"
					(selectionChange)="updatePatient($event)">
						<mat-option *ngFor="let gender of genders" [value]="gender">
							{{gender.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div>
					<mat-form-field class="form-field">
						<mat-select
						name="docType"
						[(ngModel)]="patient.docType"
						placeholder="Tipo de documento"
						(selectionChange)="updatePatient($event)">
							<mat-option [value]="1">D.N.I.</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="form-field">
						<input matInput
						type="text"
						name="doc"
						[(ngModel)]="patient.doc"
						placeholder="Número de documento"
						maxlength="256"
						(blur)="updatePatient($event)">
						<mat-hint align="start">Ej: 33000999</mat-hint>
					</mat-form-field>
					<mat-form-field class="form-field">
						<input matInput
						type="tel"
						name="phone1"
						[(ngModel)]="patient.phone1"
						placeholder="Teléfono 1"
						maxlength="64"
						(blur)="updatePatient($event)">
						<mat-icon matSuffix>phone</mat-icon>
						<mat-hint align="start">Ej: 3424567814</mat-hint>
					</mat-form-field>
					<mat-form-field class="form-field">
						<input matInput
						type="tel"
						name="phone2"
						[(ngModel)]="patient.phone2"
						placeholder="Teléfono 2"
						maxlength="64"
						(blur)="updatePatient($event)">
						<mat-icon matSuffix>phone</mat-icon>
						<mat-hint align="start">Ej: 3424567814</mat-hint>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="form-field">
						<mat-select
						name="country"
						[(ngModel)]="patient.country"
						placeholder="País"
						(selectionChange)="updatePatient($event)"
						(selectionChange)="filterStates($event)">
							<mat-option *ngFor="let country of countries" [value]="country">
								{{country.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="form-field">
						<mat-select
						name="state"
						[(ngModel)]="patient.state"
						placeholder="Provincia"
						[disabled]="!patient.country"
						(selectionChange)="updatePatient($event)"
						(selectionChange)="filterCities($event)">
							<mat-option *ngFor="let state of states" [value]="state">
								{{state.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="form-field">
						<mat-select
						name="city"
						[(ngModel)]="patient.city"
						placeholder="Localidad"
						[disabled]="!patient.state"
						(selectionChange)="updatePatient($event)">
							<mat-option *ngFor="let city of cities" [value]="city">
								{{city.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="form-field">
						<input matInput
						type="text"
						name="zipcode"
						placeholder="Código postal"
						[readonly]="true"
						value="{{patient.city?.zipcode}}">
					</mat-form-field>
				</div>
				<div *ngIf="addressData">
					<mat-form-field class="form-field">
						<input matInput
						type="text"
						name="street"
						[(ngModel)]="patient.street"
						placeholder="Calle"
						maxlength="256"
						(blur)="updatePatient($event)">
						<mat-icon matSuffix>edit_location</mat-icon>
						<mat-hint align="start">Ej: Av. Domingo F. Sarmiento</mat-hint>
					</mat-form-field>
					<mat-form-field class="form-field">
						<input matInput
						type="number"
						name="number"
						[(ngModel)]="patient.number"
						placeholder="Número"
						(blur)="updatePatient($event)">
						<mat-icon matSuffix>dialpad</mat-icon>
						<mat-hint align="start">Ej: 5692</mat-hint>
					</mat-form-field>
					<mat-form-field class="form-field">
						<input matInput
						type="text"
						name="floor"
						[(ngModel)]="patient.floor"
						placeholder="Piso"
						maxlength="16"
						(blur)="updatePatient($event)">
						<mat-icon matSuffix>location_city</mat-icon>
						<mat-hint align="start">Ej: 1</mat-hint>
					</mat-form-field>
					<mat-form-field class="form-field">
						<input matInput
						type="text"
						name="apartment"
						[(ngModel)]="patient.apartment"
						placeholder="Departamento"
						maxlength="16"
						(blur)="updatePatient($event)">
						<mat-icon matSuffix>meeting_room</mat-icon>
						<mat-hint align="start">Ej: D</mat-hint>
					</mat-form-field>
				</div>
				<div class="social-security">
					<mat-form-field class="form-field">
						<input matInput
						type="text"
						name="socialSecurity1"
						[(ngModel)]="patient.socialSecurity1"
						placeholder="Obra Social 1"
						[matAutocomplete]="socialSecurity1"
						(ngModelChange)="filterSocialSecurities($event, 'socialSecurity1')">
						<mat-autocomplete #socialSecurity1="matAutocomplete" [displayWith]="displayFn">
						  <mat-option *ngFor="let socialsecurity of filteredSocialsecurities" [value]="socialsecurity">
						    {{socialsecurity.name}}
						  </mat-option>
						</mat-autocomplete>
						<mat-hint *ngIf="patient.socialSecurity1 && !patient.socialSecurity1?.accepted">No acordó valor de consulta ética!</mat-hint>
					</mat-form-field>
					<mat-form-field class="form-field">
						<input matInput
						type="text"
						name="socialSecurity1Number"
						[(ngModel)]="patient.socialSecurity1Number"
						placeholder="N° de afiliado"
						maxlength="128"
						[disabled]="!patient.socialSecurity1"
						(blur)="updatePatient($event)">
					</mat-form-field>
					<mat-form-field class="form-field" *ngIf="multipleSocialSecurity">
						<input matInput
						type="text"
						name="socialSecurity2"
						[(ngModel)]="patient.socialSecurity2"
						placeholder="Obra Social 2"
						[matAutocomplete]="socialSecurity2"
						(ngModelChange)="filterSocialSecurities($event, 'socialSecurity2')">
						<mat-autocomplete #socialSecurity2="matAutocomplete" [displayWith]="displayFn">
						  <mat-option *ngFor="let socialsecurity of filteredSocialsecurities" [value]="socialsecurity">
						    {{socialsecurity.name}}
						  </mat-option>
						</mat-autocomplete>
						<mat-hint *ngIf="patient.socialSecurity2 && !patient.socialSecurity2?.accepted">No acordó valor de consulta ética!</mat-hint>
					</mat-form-field>
					<mat-form-field class="form-field" *ngIf="multipleSocialSecurity">
						<input matInput
						type="text"
						name="socialSecurity2Number"
						[(ngModel)]="patient.socialSecurity2Number"
						placeholder="N° de afiliado"
						maxlength="128"
						[disabled]="!patient.socialSecurity2"
						(blur)="updatePatient($event)">
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="form-field">
						<mat-select
						name="birthType"
						[(ngModel)]="patient.birthType"
						placeholder="Tipo de Nacimiento"
						(selectionChange)="updatePatient($event)">
							<mat-option *ngFor="let birthtype of birthtypes" [value]="birthtype">
								{{birthtype.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="form-field">
						<input matInput
						type="number"
						name="weightNewborn"
						[(ngModel)]="patient.weightNewborn"
						placeholder="Peso del recién nacido"
						min="0"
						step="1"
						(blur)="updatePatient($event)">
						<span matSuffix>g</span>
						<mat-hint align="start">Ej: 3600</mat-hint>
					</mat-form-field>
					<mat-form-field class="form-field">
						<mat-select
						name="bloodType"
						[(ngModel)]="patient.bloodType"
						placeholder="Grupo sanguíneo"
						(selectionChange)="updatePatient($event)">
							<mat-option *ngFor="let bloodtype of bloodtypes" [value]="bloodtype">
								{{bloodtype.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="form-field">
						<mat-select
						name="rhFactor"
						[(ngModel)]="patient.rhFactor"
						placeholder="Factor RH"
						(selectionChange)="updatePatient($event)">
							<mat-option [value]="1">+ (Positivo)</mat-option>
							<mat-option [value]="2">- (Negativo)</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</form>
		</mat-expansion-panel>
		<mat-expansion-panel [expanded]="false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Antecedentes
				</mat-panel-title>
				<mat-panel-description>
					<span *ngIf="patient.comments">Sí <i class="material-icons valign-bottom">warning</i></span>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<form method="post" [class]="formClass" #patientBackgroundForm="ngForm">
				<div>
					<mat-form-field class="apgar-field">
						<input matInput
						type="number"
						name="apgar1"
						[(ngModel)]="patient.apgar1"
						placeholder="Test de Apgar 1 min."
						max="10"
						min="0"
						step="1"
						(blur)="updatePatient($event)">
					</mat-form-field>
					<mat-form-field class="apgar-field">
						<input matInput
						type="number"
						name="apgar2"
						[(ngModel)]="patient.apgar2"
						placeholder="Test de Apgar 5 min."
						max="10"
						min="0"
						step="1"
						(blur)="updatePatient($event)">
					</mat-form-field>
					<mat-form-field class="form-field">
						<input matInput
						type="number"
						name="gestationalAge"
						[(ngModel)]="patient.gestationalAge"
						placeholder="Edad gestacional"
						min="0"
						step="1"
						(blur)="updatePatient($event)">
						<span matSuffix>semanas</span>
					</mat-form-field>
					<mat-form-field class="comment-field">
						<input matInput
						type="text"
						name="comments"
						[(ngModel)]="patient.comments"
						placeholder="Comentario"
						(blur)="updatePatient($event)">
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class="form-field">
						<textarea matInput
						name="father"
						[(ngModel)]="patient.father"
						placeholder="Padre"
						(blur)="updatePatient($event)"></textarea>
					</mat-form-field>
					<mat-form-field class="form-field">
						<textarea matInput
						name="mother"
						[(ngModel)]="patient.mother"
						placeholder="Madre"
						(blur)="updatePatient($event)"></textarea>
					</mat-form-field>
					<mat-form-field class="form-field">
						<textarea matInput
						name="brothers"
						[(ngModel)]="patient.brothers"
						placeholder="Hermanos"
						(blur)="updatePatient($event)"></textarea>
					</mat-form-field>
					<mat-form-field class="form-field">
						<textarea matInput
						name="others"
						[(ngModel)]="patient.others"
						placeholder="Otros"
						(blur)="updatePatient($event)"></textarea>
					</mat-form-field>
				</div>
			</form>
		</mat-expansion-panel>
		<mat-expansion-panel [expanded]="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Visitas
				</mat-panel-title>
				<mat-panel-description>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<mat-list dense>
				<mat-list-item *ngFor="let visit of patient.visits">
					<h3 matLine>{{visit.date | date:'dd/MM/yyyy'}} - Edad: {{ visit.date | ageUp:patient.birthday}}</h3>
					<p matLine>Peso: {{visit.weight}} g | Talla: {{visit.height}} cm | Perímetro encefálico: {{visit.perimeter}} cm | T.A.: {{visit.bloodPressure}}</p>
					<p matLine>Diagnóstico: {{visit.diagnosis}}</p>
					<p matLine>Tratamiento: {{visit.treatment}}</p>
					<button mat-icon-button color="primary" (click)="visitInForm = visit">
						<mat-icon>edit</mat-icon>
					</button>
					<button mat-icon-button color="warn" (click)="openConfirmationDialog(visit)">
						<mat-icon>delete</mat-icon>
					</button>
				</mat-list-item>
			</mat-list>
			<mat-divider></mat-divider>
			<p *ngIf="visitInForm.id === undefined">Para registrar una nueva visita ingrese los datos de la visita y presione Guardar</p>
			<p *ngIf="visitInForm.id !== undefined">Para modificar los datos de la visita, sólo ingrese los datos y los cambios se guardarán automáticamente</p>
			<form method="post" [class]="formClass" #visitForm="ngForm" (ngSubmit)="onVisitSubmit()" enctype="multipart/form-data">
				<div>
					<mat-form-field class="visit-form-field">
						<input matInput
						name="date"
						[(ngModel)]="visitInForm.date"
						placeholder="Fecha"
						[matDatepicker]="datepicker"
						[max]="today"
						[min]="patient.birthday"
						required
						(dateChange)="updateVisit($event)">
						<mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
						<mat-datepicker touchUi #datepicker calendarLabel="Fecha"></mat-datepicker>
					</mat-form-field>
					<mat-form-field class="visit-form-field">
						<input matInput
						type="number"
						name="weight"
						[(ngModel)]="visitInForm.weight"
						placeholder="Peso"
						min="0"
						step="50"
						(blur)="updateVisit($event)">
						<span matSuffix>g</span>
					</mat-form-field>
					<mat-form-field class="visit-form-field">
						<input matInput
						type="number"
						name="height"
						[(ngModel)]="visitInForm.height"
						placeholder="Talla"
						min="0"
						step="0.1"
						(blur)="updateVisit($event)">
						<span matSuffix>cm</span>
					</mat-form-field>
					<mat-form-field class="visit-form-field">
						<input matInput
						type="number"
						name="perimeter"
						[(ngModel)]="visitInForm.perimeter"
						placeholder="Perímetro encefálico"
						min="0"
						step="0.1"
						(blur)="updateVisit($event)">
						<span matSuffix>cm</span>
					</mat-form-field>
					<mat-form-field class="visit-form-field">
						<input matInput
						type="text"
						name="bloodPressure"
						[(ngModel)]="visitInForm.bloodPressure"
						placeholder="T.A."
						maxlength="7"
						(blur)="updateVisit($event)">
						<mat-hint align="start">Ej: 119/79</mat-hint>
					</mat-form-field>
				</div>
				<mat-form-field class="comment-field">
					<textarea matInput
					name="diagnosis"
					[(ngModel)]="visitInForm.diagnosis"
					placeholder="Diagnóstico"
					required
					(blur)="updateVisit($event)"></textarea>
				</mat-form-field>
				<mat-form-field class="comment-field">
					<textarea matInput
					name="treatment"
					[(ngModel)]="visitInForm.treatment"
					placeholder="Tratamiento"
					(blur)="updateVisit($event)"></textarea>
				</mat-form-field>
				<mat-card class="files">
					<mat-card-content>
						<label class="files-container">
							<mat-icon>camera_alt</mat-icon>
							Presione aquí para añadir imágenes a la visita
							<input type="file"
							name="files"
							accept="image/*"
							multiple
							(change)="onFilesChanged($event)">
						</label>
						<mat-progress-bar mode="indeterminate" *ngIf="uploadingFiles"></mat-progress-bar>
						<div class="image-container" *ngFor="let image of files">
							<img *ngIf="image.url" [src]="image.url">
						</div>
						<div class="image-container" *ngFor="let image of visitInForm.files">
							<button type="button" mat-icon-button color="warn" (click)="deleteFile(image)">
						    <mat-icon aria-label="Delete file">delete</mat-icon>
						  </button>
							<img [src]="image.url" (click)="openFile(image)">
						</div>
					</mat-card-content>
				</mat-card>
				<div>
					<button type="submit"
					mat-raised-button
					class="visit-form-button"
					color="primary"
					[disabled]="!visitForm.form.valid"
					*ngIf="visitInForm.id === undefined">Guardar</button>
					<button type="button"
					mat-raised-button
					class="visit-form-button"
					color="accent"
					(click)="visitInFormReset()">Nueva visita</button>
				</div>
			</form>
		</mat-expansion-panel>
	</mat-accordion>
</div>