<mat-toolbar color="primary">
	<mat-toolbar-row>
		<a mat-icon-button routerLink="../">
			<mat-icon aria-label="Listado de pacientes">arrow_back</mat-icon>
		</a>
		<span>Historia Clínica</span>
		<span class="spacer"></span>
		<button mat-icon-button (click)="close()" *ngIf="!folded">
			<mat-icon aria-label="Cerrar todos los paneles">unfold_less</mat-icon>
		</button>
		<button mat-icon-button (click)="open()" *ngIf="folded">
			<mat-icon aria-label="Abrir todos los paneles">unfold_more</mat-icon>
		</button>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon aria-label="Opciones del paciente">more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="openConfirmationPatientDialog()">
				<mat-icon>delete</mat-icon>
				<span>Eliminar</span>
			</button>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>

<div class="main-card">
	<p *ngIf="!patient">No existe el paciente con el identificador dado</p>

	<mat-accordion [multi]="true" *ngIf="patient">

		<mat-expansion-panel [expanded]="false">

			<mat-expansion-panel-header>
				<mat-panel-title>
					Información personal
				</mat-panel-title>
				<mat-panel-description>
					{{ maxDate | ageUp:patient.attributes.birthday }}
				</mat-panel-description>
			</mat-expansion-panel-header>

			<form method="post" [class]="formClass">

				<mat-form-field>
					<input matInput type="text" placeholder="Apellido/s" required [(ngModel)]="patient.attributes.lastname" name="lastname" maxlength="256">
				</mat-form-field>

				<mat-form-field>
					<input matInput type="text" placeholder="Nombre/s" required [(ngModel)]="patient.attributes.name" name="name" maxlength="256">
				</mat-form-field>

				<mat-form-field>
					<input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" [max]="maxDate" [(ngModel)]="patient.attributes.birthday" name="birthday">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker touchUi #picker calendarLabel="Fecha de nacimiento"></mat-datepicker>
				</mat-form-field>

				<mat-form-field>
					<mat-select placeholder="Sexo" [(ngModel)]="patient.attributes.gender" name="gender">
						<mat-option *ngFor="let gender of genders" [value]="gender">
							{{gender.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<div>

					<mat-form-field>
						<mat-select placeholder="Tipo de documento" [(ngModel)]="patient.attributes.docType" name="docType">
							<mat-option [value]="1">D.N.I.</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="text" placeholder="Número de documento" [(ngModel)]="patient.attributes.doc" name="doc" maxlength="256">
						<mat-hint align="start">Ej: 33000999</mat-hint>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="tel" placeholder="Teléfono 1" [(ngModel)]="patient.attributes.phone1" name="phone1" maxlength="64">
						<mat-icon matSuffix>phone</mat-icon>
						<mat-hint align="start">Ej: 3424567814</mat-hint>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="tel" placeholder="Teléfono 2" [(ngModel)]="patient.attributes.phone2" name="phone2" maxlength="64">
						<mat-icon matSuffix>phone</mat-icon>
						<mat-hint align="start">Ej: 3424567814</mat-hint>
					</mat-form-field>

				</div>

				<div>

					<mat-form-field>
						<mat-select placeholder="País" [(ngModel)]="patient.attributes.country" name="country">
							<mat-option *ngFor="let country of countries" [value]="country">
								{{country.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<mat-select placeholder="Provincia" [(ngModel)]="patient.attributes.state" name="state">
							<mat-option *ngFor="let state of states" [value]="state">
								{{state.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<mat-select placeholder="Localidad" [(ngModel)]="patient.attributes.city" name="city">
							<mat-option *ngFor="let city of cities" [value]="city">
								{{city.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="text" placeholder="Código postal" [readonly]="true">
					</mat-form-field>

				</div>

				<div>

					<mat-form-field>
						<input matInput type="text" placeholder="Calle" [(ngModel)]="patient.attributes.street" name="street" maxlength="256">
						<mat-icon matSuffix>edit_location</mat-icon>
						<mat-hint align="start">Ej: Av. Domingo F. Sarmiento</mat-hint>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="number" placeholder="Número" [(ngModel)]="patient.attributes.number" name="number">
						<mat-icon matSuffix>dialpad</mat-icon>
						<mat-hint align="start">Ej: 5692</mat-hint>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="text" placeholder="Piso" [(ngModel)]="patient.attributes.floor" name="floor" maxlength="16">
						<mat-icon matSuffix>location_city</mat-icon>
						<mat-hint align="start">Ej: 1</mat-hint>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="text" placeholder="Departamento" [(ngModel)]="patient.attributes.apartment" name="apartment" maxlength="16">
						<mat-icon matSuffix>meeting_room</mat-icon>
						<mat-hint align="start">Ej: D</mat-hint>
					</mat-form-field>

				</div>

				<div class="social-security">

					<mat-form-field>
						<mat-select placeholder="Obra Social 1" [(ngModel)]="patient.attributes.socialSecurity1" name="socialSecurity1">
							<mat-option *ngFor="let socialsecurity of socialsecurities" [value]="socialsecurity">
								{{socialsecurity.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="text" placeholder="N° de afiliado" [(ngModel)]="patient.attributes.socialSecurity1Number" name="socialSecurity1Number" maxlength="128">
					</mat-form-field>

					<mat-form-field>
						<mat-select placeholder="Obra Social 2" [(ngModel)]="patient.attributes.socialSecurity2" name="socialSecurity2">
							<mat-option *ngFor="let socialsecurity of socialsecurities" [value]="socialsecurity">
								{{socialsecurity.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="text" placeholder="N° de afiliado" [(ngModel)]="patient.attributes.socialSecurity2Number" name="socialSecurity2Number" maxlength="128">
					</mat-form-field>

				</div>

				<div>

					<mat-form-field>
						<mat-select placeholder="Tipo de Nacimiento" [(ngModel)]="patient.attributes.birthType" name="birthType">
							<mat-option *ngFor="let birthtype of birthtypes" [value]="birthtype">
								{{birthtype.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="number" step="1" min="0" placeholder="Peso del recién nacido" [(ngModel)]="patient.attributes.weightNewborn" name="weightNewborn">
						<span matSuffix>g</span>
						<mat-hint align="start">Ej: 3600</mat-hint>
					</mat-form-field>

					<mat-form-field>
						<mat-select placeholder="Grupo sanguíneo" [(ngModel)]="patient.attributes.bloodType" name="bloodType">
							<mat-option *ngFor="let bloodtype of bloodtypes" [value]="bloodtype">
								{{bloodtype.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<mat-select placeholder="Factor RH" [(ngModel)]="patient.attributes.rhFactor" name="rhFactor">
							<mat-option [value]="1">+ (Positivo)</mat-option>
							<mat-option [value]="2">- (Negativo)</mat-option>
						</mat-select>
					</mat-form-field>

				</div>

			</form>

		</mat-expansion-panel>

		<mat-expansion-panel [expanded]="false">

			<mat-expansion-panel-header>
				<mat-panel-title>
					Antecedentes
				</mat-panel-title>
				<mat-panel-description>
					{{patient.comments}}
				</mat-panel-description>
			</mat-expansion-panel-header>

			<form method="post" [class]="formClass">
				<div>

					<mat-form-field>
						<input matInput type="number" min="0" step="1" max="10" placeholder="Test de Apgar" [(ngModel)]="patient.attributes.apgar" name="apgar">
					</mat-form-field>

					<mat-form-field>
						<input matInput type="number" min="0" step="1" placeholder="Edad gestacional" [(ngModel)]="patient.attributes.gestationalAge" name="gestationalAge">
						<span matSuffix>semanas</span>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="text" placeholder="Comentario" [(ngModel)]="patient.attributes.comments" name="comments">
					</mat-form-field>

				</div>

				<div>

					<mat-form-field>
						<textarea matInput placeholder="Padre" [(ngModel)]="patient.attributes.father" name="father"></textarea>
					</mat-form-field>
					<mat-form-field>
						<textarea matInput placeholder="Madre" [(ngModel)]="patient.attributes.mother" name="mother"></textarea>
					</mat-form-field>
					<mat-form-field>
						<textarea matInput placeholder="Hermanos" [(ngModel)]="patient.attributes.brothers" name="brothers"></textarea>
					</mat-form-field>
					<mat-form-field>
						<textarea matInput placeholder="Otros" [(ngModel)]="patient.attributes.others" name="others"></textarea>
					</mat-form-field>

				</div>

			</form>

		</mat-expansion-panel>

		<mat-expansion-panel [expanded]="true">

			<mat-expansion-panel-header>
				<mat-panel-title>
					Visitas
				</mat-panel-title>
				<mat-panel-description>

				</mat-panel-description>
			</mat-expansion-panel-header>

			<mat-list dense>
				<mat-list-item *ngFor="let visit of patient.relationships.visits">
					<h3 matLine>{{visit.date | date:'dd/MM/yyyy'}} - Edad: {{ visit.date | ageUp:patient.attributes.birthday}}</h3>
					<p matLine>Peso: {{visit.weight}} g | Talla: {{visit.height}} cm | Perímetro encefálico: {{visit.perimeter}} cm</p>
					<p matLine>Diagnóstico: {{visit.diagnosis}}</p>
					<p matLine>Tratamiento: {{visit.treatment}}</p>
					<button mat-icon-button color="primary" (click)="newVisit = visit">
						<mat-icon>edit</mat-icon>
					</button>
					<button mat-icon-button color="warn" (click)="openConfirmationDialog(visit)">
						<mat-icon>delete</mat-icon>
					</button>
				</mat-list-item>
			</mat-list>

			<!--<mat-vertical-stepper [linear]="isLinear" #stepper>
				<ng-template matStepperIcon="edit" let-index="index">
					{{ index + 1 }}
				</ng-template>
				<mat-step *ngFor="let visit of visits | async; let i = index">
					<ng-template matStepLabel>{{visit.date | date:'dd/MM/yyyy'}} - Edad: {{ visit.date | ageUp:patient.birthday}}</ng-template>
						<p class="mat-caption"><strong>Peso:</strong> {{visit.weight}} gramos</p>
						<p class="mat-caption"><strong>Talla:</strong> {{visit.height}} centímetros</p>
						<p class="mat-caption"><strong>Perímetro encefálico:</strong> {{visit.perimeter}} centímetros</p>
						<p class="mat-caption"><strong>Diagnóstico:</strong> {{visit.diagnosis}}</p>
						<p class="mat-caption"><strong>Tratamiento:</strong> {{visit.treatment}}</p>
					<div>
						<button mat-icon-button color="primary" (click)="newVisit = visit">
							<mat-icon>edit</mat-icon>
						</button>
						<button mat-icon-button color="warn" (click)="openConfirmationDialog(visit)">
							<mat-icon>delete</mat-icon>
						</button>
						<button mat-icon-button matStepperPrevious *ngIf="i > 0">
							<mat-icon>expand_less</mat-icon>
						</button>
						<button mat-icon-button matStepperNext *ngIf="i < ((visits | async)?.length - 1)">
							<mat-icon>expand_more</mat-icon>
						</button>
					</div>
				</mat-step>
			</mat-vertical-stepper>-->

			<mat-divider></mat-divider>

			<p *ngIf="newVisit.id === undefined">Para registrar una nueva visita ingrese los datos de la visita y presione Guardar</p>
			<p *ngIf="newVisit.id !== undefined">Para modificar los datos de la visita, sólo ingrese los datos y los cambios se guardarán automáticamente</p>
			<form method="post" [class]="formClass" #visitForm="ngForm" (ngSubmit)="onVisitSubmit()">

				<div>

					<mat-form-field>
						<input matInput [matDatepicker]="datepicker" placeholder="Fecha" [min]="patient.birthday" [max]="maxDate" [(ngModel)]="newVisit.date" name="date" required>
						<mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
						<mat-datepicker touchUi #datepicker calendarLabel="Fecha"></mat-datepicker>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="number" step="50" min="0" placeholder="Peso" [(ngModel)]="newVisit.weight" name="weight">
						<span matSuffix>g</span>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="number" step="0.1" min="0" placeholder="Talla" [(ngModel)]="newVisit.height" name="height">
						<span matSuffix>cm</span>
					</mat-form-field>

					<mat-form-field>
						<input matInput type="number" step="0.1" min="0" placeholder="Perímetro encefálico" [(ngModel)]="newVisit.perimeter" name="perimeter">
						<span matSuffix>cm</span>
					</mat-form-field>

				</div>

				<mat-form-field class="full-width">
					<textarea matInput placeholder="Diagnóstico" [(ngModel)]="newVisit.diagnosis" name="diagnosis" required></textarea>
				</mat-form-field>

				<mat-form-field class="full-width">
					<textarea matInput placeholder="Tratamiento" [(ngModel)]="newVisit.treatment" name="treatment"></textarea>
				</mat-form-field>

				<mat-card class="files">
					<mat-card-content>
						<label class="files-container">
							<mat-icon>camera_alt</mat-icon>
							Presione aquí para añadir imágenes a la visita
							<input type="file" accept="image/*" multiple (change)="onFilesChanged($event)" [(ngModel)]="newVisit.files" name="files">
						</label>
						<div class="image-container" *ngFor="let image of files">
							<img [src]="image.url">
						</div>
					</mat-card-content>
				</mat-card>

				<div>
					<button type="submit" mat-raised-button color="primary" class="visit-form-button" [disabled]="!visitForm.form.valid" *ngIf="newVisit.id === undefined">Guardar</button>
					<button type="button" mat-raised-button color="accent" class="visit-form-button" (click)="resetNewVisit()">Nueva visita</button>
				</div>

			</form>

		</mat-expansion-panel>

	</mat-accordion>
</div>